@* No @page directive needed *@
@* @model CollaborateMusicAPI.Views.EmailTemplates.PasswordResetEmailTemplateModel *@

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <style>
        /* Add your styling here */
    </style>
</head>
<body>
    <h1>Password Reset Request</h1>
    <p>Hi @Model.Name,</p>
    <p>You requested a password reset. Please click on the link below to reset your password:</p>
    <a href="@Model.ResetUrl">Reset Password</a>
</body>
</html>
